<h1>Artists</h1>

{{#each artists}}
  <ul>
    <li>
      <h2>{{name}}</h2>

      <img src="{{images.url}}" alt="{{name}}" />

      <a href="/albums/{{id}}">Show Albums</a>
    </li>
  </ul>
{{/each}}